[submodule ".registry"]
	path = .registry
	url = https://github.com/asiripanich/universe
	shallow = true
	branch = HEAD
[submodule "tfnswapi"]
	path = tfnswapi
	url = https://github.com/asiripanich/tfnswapi
	shallow = true
	registered = true
[submodule "aurinapi"]
	path = aurinapi
	url = https://github.com/asiripanich/aurinapi
	shallow = true
	registered = true
[submodule "DTedit"]
	path = DTedit
	url = https://github.com/DavidPatShuiFong/DTedit
	shallow = true
	branch = 7ce8de1b5fcd7195beee73ed4acce8ac33140ab7
	registered = false
