[submodule ".registry"]
	path = .registry
	url = https://github.com/asiripanich/universe
	shallow = true
	branch = HEAD
[submodule "tfnswapi"]
	path = tfnswapi
	url = https://github.com/asiripanich/tfnswapi
	shallow = true
	registered = true
[submodule "aurinapi"]
	path = aurinapi
	url = https://github.com/asiripanich/aurinapi
	shallow = true
	registered = true
[submodule "emdash"]
	path = emdash
	url = https://github.com/asiripanich/emdash
	shallow = true
	registered = true
